<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul class="flex-row">
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header class="hero">
    <h1 class="app-title"><a href="/dashboard">Your Dashboard</a></h1>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="footer flex-row justify-center">
    <a href="/dashboard/new">➕ New Post</a>
  </footer>
</body>

<script src="/js/logout.js"></script>

</html>